.main {
    background-image: url("../Images/17053-4k.jpg");
    background-repeat: no-repeat;
     background-position: center center;
    background-size: cover; 
    /* min-height: 77.34vh;    */
    min-height: 100vh;
}
