/* From uiverse.io by @Yaseen549 */
.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
   }
   
   
.contenedor {
    background-image: url("../Images/plain-backdrop-decorative-gray-textured.jpg");
    background-repeat: no-repeat;
     background-position: center center;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 90vh;
    color: rgb(172, 201, 255);
}
.poster {
    margin: 3.5rem ;
}

.description {
    text-align: center;
    margin: auto 1.0rem;
    padding-bottom: 1.5rem;
}

@media (min-width: 1000px) {
    .contenedor{
        flex-direction: row;
    }
    .contenedor {
        text-align: left;
    }
    
}
